<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="icon" type="image/x-icon" href="../public/assets/icon.ico"/>
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/cart.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Signika+Negative" />    
    <script src="../public/js/cart.js" defer></script>
</head>
<body>
    {% include 'navbar.html.twig' with { 'loggedin': loggedin } %}
 
    <main>
        <h1>Cart</h1>

        <ul id="cart-items">
            {% for product in elements %}
                <li>
                    <img src="{{ product.image }}" alt="{{ product.title }}">
                    <h3>{{ product.title }}</h3>
                    <p>{{ product.price }}</p>
                    <a href="{{ product.link }}">View product</a>
                    <i id="delete-item" class="fa-solid fa-trash" data-id="{{ product.id }}"></i>

                </li>
            {% endfor %}
        </ul>

        <button id="checkout-button">Commander</button>
    </main>
</body>
</html>