<!-- templates/element.html.twig -->
<div class="element" onclick='fetchPatho(event, "{{ title }}")'>

  <div class="element-header">
    <i class="fa-solid fa-disease"></i>
    <div class="element-wrapper">
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
    </div>
    <i class="fa-solid fa-chevron-down"></i>
    <div class="separator"></div>
  </div>

  <div class="element-body">
    <h2>Symptomes frequents associes aux pathologies touchant ce meridian :</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio corrupti laudantium repellendus officia illo harum, est ratione possimus. Quisquam labore provident, consequatur officiis quaerat delectus recusandae totam pariatur maxime nam.</p>
    <div class="meridian-element">
      <h3>ELEMENT</h3>
      <span>F</span>
    </div>
  </div>

  <template id="elementTemplate">
    <div class="element-header">
      <i class="fa-solid fa-disease"></i>
      <div class="element-wrapper">
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
      </div>
      <i class="fa-solid fa-chevron-down"></i>
      <div class="separator"></div>
    </div>
  
    <div class="element-body">
      <h2>Symptomes frequents associes aux pathologies touchant ce meridian :</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio corrupti laudantium repellendus officia illo harum, est ratione possimus. Quisquam labore provident, consequatur officiis quaerat delectus recusandae totam pariatur maxime nam.</p>
      <div class="meridian-element">
        <h3>ELEMENT</h3>
        <span>F</span>
      </div>
    </div>
  </template>
</div>
