<div class="product-item" data-id="{{ id }}">
    <img src="{{ image }}" alt="{{ title }}">
    <h3>{{ title }}</h3>
    <button class="cta-button" data-modal-target="#modal">En savoir plus</button>
    <button class="add-to-cart-button" data-id="{{ id }}">Ajouter au panier</button>
</div>
